@model IEnumerable<AmmuNation.Web.Models.Weapon>

<h2>WeaponsList</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Manufacturer)</th>
            <th>@Html.DisplayNameFor(m => m.First().Type)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach(var weapon in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => weapon.Name)</td>
                <td>@Html.DisplayFor(m => weapon.Manufacturer)</td>
                <td>@Html.DisplayFor(m => weapon.Type)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = weapon.Id })</td>
                <td>@Html.ActionLink("[DELETE]", "Remove", new { id = weapon.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = weapon.Id })</td>
            </tr>
        }
    </table>
}